<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class="main-content">
      <%- include('../partials/header.ejs') %> OOPS, page not found :)
    </div>
  </body>
</html>
